<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div id="root"></div>
</body>
<script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel">

 let box = document.getElementById("root")
  
// funtion which returns jsx is called === COMPONENT 
// to distungish component from common function ( pascal casing =(AbcDef)) 
 function Message(prop){
   return  <h2 style={{color: prop.textCol}}>{prop.text}</h2>;
}
 
 let comp = (
    <div>
     {Message("good lvl4")}
    
     {Message({ text : "good lvl5"})}
      {/* we can write like line no.29-31  same syntext*/}
      <Message text = "good lvl6-a" textCol="blue"/>
      <Message text = "good lvl6-b" textCol="green"/>
      <Message text = "good lvl6-c" textCol="red"/>

    </div> 
 );


ReactDOM.createRoot(box).render(comp)
</script>
</html>