<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>children</title>
</head>
<body>
     <div id="root"></div>
</body>
<script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel">

 let box = document.getElementById("root")
  
 function Foo(prop){
    return(<div style={{ padding: "100px", border:"5px solid red"}}>
          {prop.children}
        </div>)
 }

 function App() {
    return (<>
      <Foo> 23</Foo>
    </>)
 }

ReactDOM.createRoot(box).render(<App/>)
</script>
</html>